{% extends 'base.html' %}

{% block css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-12 main">
                <span class="heading">Stats</span>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                {% if total_cases %}
                                    <p class="title">{{total_cases.total_cases__sum}}</p>
                                {% else %}
                                    <p class="title">No data</p>
                                {% endif %}
                                <p class="subtitle">Total Cases</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                {% if total_deaths %}
                                    <p class="title">{{total_deaths.total_deaths__sum}}</p>
                                {% else %}
                                    <p class="title">No data</p>
                                {% endif %}
                                <p class="subtitle">Total Deaths</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                {% if recovered_cases %}
                                    <p class="title">{{recovered_cases.recovered_cases__sum}}</p>
                                {% else %}
                                    <p class="title">No data</p>
                                {% endif %}
                                <p class="subtitle">Total Recovered</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                </div>
            </div>
        </div>
        <br>
        <span class="heading">Graphs</span>
        <br>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <canvas id="pie-chart"></canvas>
                </div>
                <div class="box">
                    <table class="table">
                        <thead>
                           <tr>
                              <th>Country</th>
                              <th>Cases</th>
                              <th>Deaths</th>
                              <th>Recovered</th>
                              <th>Tests</th>
                              <th>New</th>
                           </tr>
                        </thead>
                        <tbody>
                            {% for stat in all_stats %}
                                <tr>
                                    <td>{{ stat.country|default_if_none:"unknown" }}</td>
                                    <td>{{ stat.total_cases|default_if_none:"unknown"}}</td>
                                    <td>{{ stat.total_deaths|default_if_none:"unknown"}}</td>
                                    <td>{{ stat.recovered_cases|default_if_none:"unknown"}}</td>
                                    <td>{{ stat.total_tests|default_if_none:"unknown"}}</td>
                                    <td>{{ stat.new_cases|default_if_none:"unknown"}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <canvas id="radar-chart" height="420"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript">
        let total_cases = "{{ total_cases.total_cases__sum }}"
        let top_countries = "{{ top_countries }}";
        let top_total_cases = "{{ top_total_cases }}";
        let continents_name = "{{ continents_name }}";
        let continents_total_cases = "{{ continents_total_cases }}";
        let continents_total_deaths = "{{ continents_total_deaths }}";
        let continents_total_recovered = "{{ continents_total_recovered }}";
    </script>
    <script src="{% static "js/graphs.js" %}"></script>
{% endblock %}