{% extends 'base.html' %}

{% block content %}
    <div id="map_div" style="margin-top:5vh; width: 100%; height: 100%;"></div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/equivalent_countries.js" %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        let values = "{{ all_objects }}";
    </script>
    <script src="{% static "js/map.js" %}"></script>
{% endblock %}